<ion-content no-bounce>

  <div class="banner-header xs-hidden"></div>
  <div text-center class="xs-show sm-hidden">
    <img src="./assets/viettel_tv/banner.jpg" alt="Viettel tv">
  </div>
  <div class="btn-sign-up-now">
    <button (click)="onClickOrderNow()" ion-button clear>Đăng ký ngay</button>
  </div>


  <div class="yellow-bg">
    <div class="yellow-bg-before"></div>
    <div class="yellow-bg-after"></div>

    <div class="container">
      <div text-center text-uppercase class="title-font">
        TRUYỀN HÌNH TƯƠNG TÁC INTERNET CÁP QUANG TỐC ĐỘ CAO
      </div>

      <div>
        <ion-row (swipe)="onSwipe($event)" id="slideId" nowrap class="icon-container">
          <ion-col col-12 col-sm-4>
            <img src="./assets/viettel_tv/viettel_icon-01.png" alt="Vietel tv">
          </ion-col>
          <ion-col col-12 col-sm-4>
            <img src="./assets/viettel_tv/viettel_icon-02.png" alt="Vietel tv">
          </ion-col>
          <ion-col col-12 col-sm-4>
            <img src="./assets/viettel_tv/viettel_icon-03.png" alt="Vietel tv">
          </ion-col>
        </ion-row>

        <ion-row (swipe)="onSwipe($event)" id="slideId1" nowrap class="sub-title-container">
          <ion-col col-12 col-sm-4>
            <div class="card-body">
              <div class="text-container" text-center text-uppercase>mọi thứ bạn muốn</div>
              <div class="black-color margin-top-20">
                <strong>Hơn 160 kênh truyền hình (60 kênh HD)</strong>
              </div>
              <div class="black-color">
                và hàng ngàn clip phim truyện, ca nhạc, học tập, y tế...
              </div>
            </div>
          </ion-col>
          <ion-col col-12 col-sm-4>
            <div class="card-body">
              <div class="text-container" text-center text-uppercase>hiện đại</div>
              <div class="black-color margin-top-20">
                Xem lại <strong>7 ngày nhiều kênh chương trình đặc sắc</strong>
              </div>
              <div class="black-color">
                Tua lại 2 giờ <strong>100% kênh và chương trình</strong>
              </div>
              <div class="black-color">
                Điều khiển TiVi qua <strong>kết nối điện thoại di động</strong> ngay cả khi bạn không ở nhà
              </div>
            </div>

          </ion-col>
          <ion-col col-12 col-sm-4>
            <div class="card-body">
              <div class="text-container" text-center text-uppercase>cho mọi nhà</div>
              <div class="black-color margin-top-20">
                <strong>Truyền hình chỉ từ 50.000đ, với gói Combo Flexi</strong>
                <br>
                Miễn phí hòa mạng, trang bị modem Wifi và đầu thu HD (*)
              </div>
            </div>
          </ion-col>
        </ion-row>

        <div class="dot-container a3-container-center sm-hidden">
          <div class="dot" [class.selected]="_currentIndex == 0"></div>
          <div class="dot" [class.selected]="_currentIndex == 1"></div>
          <div class="dot" [class.selected]="_currentIndex == 2"></div>
        </div>
      </div>

    </div>
  </div>









  <div class="service-infomation a1-relative">
    <!-- <div class="a1-absolute img-background">
        <img src="./assets/viettel_tv/viettel_matric-bg.webp" alt="Vietel tv">
    </div> -->
    <div class="a1-absolute bottom-bg sm-hidden"></div>
    <div class="a1-absolute top-bg sm-hidden"></div>


    <div class="a1-absolute bottom-bg-web xs-hidden"></div>
    <div class="a1-absolute top-bg-web xs-hidden"></div>

    <div class="container" text-center>


      <div class="title-font" text-uppercase text-center>
        THÔNG TIN DỊCH VỤ
      </div>

      <div class="table-container">
        <table width="100%">
          <tr class="yellow-bg">
            <th *ngFor="let item of mHeaders">
              <div class="black-color name xs-hidden">{{item.name}}</div>
              <div class="black-color xs-hidden">{{item.des}}</div>

              <div class="sm-hidden">{{item.mobile_show}}</div>
            </th>
          </tr>

          <tr class="whitesmoke-bg" *ngFor="let item of mPriceTables">
            <td>{{item.name}}</td>
            <td>{{item.internet}}</td>
            <td>{{item.combo_flexi}}</td>
            <td>{{item.combo_sport}}</td>
          </tr>
        </table>
      </div>

      <div class="hint-text">
        <i>
          (*) Nếu bạn đã có đường truyền Internet Viettel và muốn sử dụng thêm truyền hình clip ngay <a href="#"
            (click)=" onShowModal()">Tại
            Đây</a> để tìm hiểu thêm chính sách truyền hình của Viettel TV.
        </i>

        <br>
        <i>
          (*) Gói Net 1 , Net 2 chỉ áp dụng ngoại thành
        </i>
      </div>


      <div class="title-font type-connect-title type-connect" text-uppercase text-center>
        Hình thức hoà mạng
      </div>

      <div class="color-white">
        <i>Miễn phí lắp đặt + trang bị wifi 4 cổng 2 râu</i>
      </div>

      <ion-row justify-content-center>
        <ion-col col-12 col-sm-4>
          <div class="card-body-connect">
            <div class="level-name">Mức 1</div>
            <ion-row class="white-smoke-bg" *ngFor="let item of mDiscountsLevel1">
              <ion-col col-6>{{item.type_connect}}</ion-col>
              <ion-col col-6>{{item.discount}}</ion-col>
            </ion-row>
          </div>
        </ion-col>
        <ion-col col-12 col-sm-4>
          <div class="card-body-connect">
            <div class="level-name">Mức 2</div>
            <ion-row class="white-smoke-bg" *ngFor="let item of mDiscountsLevel2">
              <ion-col col-6>{{item.type_connect}}</ion-col>
              <ion-col col-6>{{item.discount}}</ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>

      <div class="hint-text" text-center>
        <i>
          (*) Ưu đãi <strong>Mức 2</strong> chỉ dành cho khách hàng chuyển từ nhà mạng khác sang Viettel.
        </i>
      </div>

    </div>

  </div>

  <div class="register-container" id="register-id">
    <div class="container" text-center>
      <div class="title-font" text-uppercase text-center>
        đăng ký tư vấn dịch vụ
      </div>

      <div class="color-black">
        <i>Quý khách vui lòng để lại thông tin, để tư vấn viên Viettel liên hệ và phục vụ sớm nhất có thể</i>
      </div>

      <div *ngIf="isIosMobile" class="fake-input" (click)="onClickShowInputName()" tappable>{{name || 'Họ và tên *'}}</div>

      <ion-item *ngIf="!isIosMobile">
        <ion-input [(ngModel)]="name" placeholder="Họ và tên *"></ion-input>
      </ion-item>

      <div class="red-color" *ngIf="!mState[0]" text-left>Vui lòng nhập đủ thông tin</div>


      <div *ngIf="isIosMobile" class="fake-input" (click)="onClickShowInputPhone()" tappable>{{phone || 'Số điện thoại
        *'}}</div>

      <ion-item *ngIf="!isIosMobile">
        <ion-input [(ngModel)]="phone" type="number" placeholder="Số điện thoại *"></ion-input>
      </ion-item>

      <div class="red-color" *ngIf="!mState[1]" text-left>Vui lòng nhập đủ thông tin</div>



      <ion-row justify-content-between>
        <ion-col col-6 col-sm-4 style="padding-left: 0; padding-right: 0">
          <div class="city a1-relative" (click)="onClickCity()" tappable>
            {{cityName || 'Tỉnh/thành phố'}}
            <div class="a1-absolute">
              <ion-icon name="md-arrow-dropdown"></ion-icon>
            </div>
          </div>

        </ion-col>
        <ion-col col-6 col-sm-4 class="district-name">
          <div class="city margin-left a1-relative" (click)="onClickDistrict()" tappable>{{districtName ||
            'Quận/huyện'}}
            <div class="a1-absolute">
              <ion-icon name="md-arrow-dropdown"></ion-icon>
            </div>
          </div>

        </ion-col>

        <ion-col col-6 col-sm-4 style="padding-left: 0px; padding-right: 0">
          <div (click)="onClickCommune()" tappable class="city margin-left a1-relative">{{communeName ||
            'Phường/xã'}}
            <div class="a1-absolute">
              <ion-icon name="md-arrow-dropdown"></ion-icon>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <div *ngIf="isIosMobile" (click)="onClickShowInputAddress()" tappable class="fake-input margin-top">{{address ||
        'Địa chỉ'}}</div>


      <ion-item *ngIf="!isIosMobile">
        <ion-input [(ngModel)]="address" placeholder="Địa chỉ"></ion-input>
      </ion-item>

      <ion-row class="package-service">
        <ion-col col-12 col-sm-4 style="padding: 0">

          <div (click)="onClickPackage()" tappable class="city margin-left a1-relative">{{packageName || 'Chọn gói cước
            *'}}
            <div class="a1-absolute">
              <ion-icon name="md-arrow-dropdown"></ion-icon>
            </div>
          </div>
          <div class="red-color" [hidden]="mState[2]" text-left>Vui lòng nhập đủ thông tin</div>

        </ion-col>
        <ion-col col-12 col-sm-7 offset-sm-1 style="padding: 0">
          <div (click)="onClickService()" tappable class="city margin-left a1-relative">{{serviceName || 'Chọn hình
            thức dịch vụ *
            '}}
            <div class="a1-absolute">
              <ion-icon name="md-arrow-dropdown"></ion-icon>
            </div>
          </div>
          <div class="red-color" [hidden]="mState[3]" text-left>Vui lòng nhập đủ thông tin</div>

        </ion-col>
      </ion-row>

      <div class="color-black" text-left>
        <i>(*) Những nội dung bắt buộc</i>
      </div>

      <div class="btn-sign-container">
        <button ion-button round (click)="onClickRegister()">Đăng ký</button>
      </div>
    </div>
  </div>








  <ion-fab bottom left>
    <div class="fixed hotline1">
      <div class="a1-relative">
        <div *ngIf="_phone1 && _phone1.length > 0" class="left-hotline first">
          <a href="tel:{{_phone1}}">
            <ion-chip>
              <ion-icon name="ios-call"></ion-icon>
              <ion-label><small>Hotline 1 :</small> {{_phone1}}</ion-label>
            </ion-chip>
          </a>
        </div>
        <div class="left-hotline second" *ngIf="_phone2 && _phone2.length > 0">
          <a href="tel:{{_phone2}}">
            <ion-chip>
              <ion-icon name="ios-call"></ion-icon>
              <ion-label><small>Hotline 2 :</small> {{_phone2}}</ion-label>
            </ion-chip>
          </a>
        </div>
        <div class="left-hotline third" *ngIf="_phone3 && _phone3.length > 0">
          <a href="tel:{{_phone3}}">
            <ion-chip>
              <ion-icon name="ios-call"></ion-icon>
              <ion-label><small>Hotline 3 :</small> {{_phone3}}</ion-label>
            </ion-chip>
          </a>
        </div>
      </div>
    </div>
  </ion-fab>

  <div id="questionanswer">
    <question-and-answer></question-and-answer>
  </div>

  <div class="list-channel">
    <div class="container">
      <ion-row>
        <ion-col col-12 col-sm-5>
          <img src="./assets/viettel_tv/viettel_160-kenh.png" alt="ViettelTV">
          <div class="btn-container">
            <button ion-button round (click)="onClickChannel()">Danh sách kênh</button>
            <button ion-button round class="yellow" (click)="onClickOrderNow()">Đăng ký ngay</button>
          </div>
        </ion-col>
        <ion-col col-12 col-sm-7>
          <img src="./assets/viettel_tv/news.png" alt="ViettelTV">
        </ion-col>
      </ion-row>
    </div>
  </div>


  <ion-fab top left>
    <fake-customer></fake-customer>
  </ion-fab>

  <ion-fab bottom right>
    <button ion-fab (click)="onClickAddFab()">
      <ion-icon name="add" class="animated pulse"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
