<!-- Generated template for the FakeCustomerComponent component -->
<div>
  <div #fakeCustomer class="a3-container a3-items-center animated slideInLeft" id="fakeId">
    <div class="icon-image">
      <img src="./assets/imgs/fake-customer.png" alt="Viettel CA">
    </div>

    <div class="text-show">
      <div class="success-text"><strong>Đăng ký thành công</strong></div>
      <div>Khách hàng <strong>{{customer.name}}</strong> ở <strong>{{customer.address}}</strong> vừa đăng ký thành công</div>
    </div>
  </div>
</div>
